.new{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background:  linear-gradient(315deg, #5ca0f2 0%, #f5f7f6 70%);
    height: 100vh;
    overflow: hidden;
}

.access_page{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 900px;
  background: #f5f5f5;
  border-radius: 10px;
  margin: 0 auto;
}