<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../css/file.css" />
    <link rel="stylesheet" href="../css/home.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="http://localhost:3000/landlord"
            >3S Home</a
          >
        </div>
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="http://localhost:3000/landlord">Home</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li id="manage"></li>
          <li id="post">
          </li>
          <li>
            <a onclick="logout()" href="http://localhost:3000/login"
              ><span class="glyphicon glyphicon-log-out"></span> logout</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <div class="search">
 <form id="formSearch" action="/filter" method="POST">
      <div class="box">
        <h4>Quick Search</h4>
        <div class="bs-content">
          <div class="searchbar">
            <div class="select">
              <select id="city" name="city">
                <option value="">--City--</option>
                <option value="1">Hồ Chí Minh</option>
                <option value="2">Hà Nội</option>
                <option value="3">Đà Nẵng</option>
              </select>
            </div>
            <div class="select">
              <select id="district" name="district">
                <option value="">--District--</option>
              </select>
            </div>
            <div class="select">
              <select id="street" name="street">
                <option value="">--Street--</option>
              </select>
            </div>
            <div class="select">
              <select name="price">
                <option value="">--Price--</option>
                <option value="5">0-10</option>
                <option value="15">10-20</option>
                <option value="25">20-30</option>
                <option value="35">30-40</option>
              </select>
            </div>
            <div class="select">
              <select name="area">
                <option value="">--Area--</option>
                <option value="25">0-50 m²</option>
                <option value="75">50-100 m²</option>
                <option value="125">100-150 m²</option>
                <option value="175">150-200 m²</option>
              </select>
            </div>

            <div class="submit">
              <input id="search" type="submit" value="Search" style="width: 100%" />
            </div>
          </div>
        </div>
      </div>
</form>

      <div class="post" id="post_parent"></div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="../js/userHome.js"></script>
    <script>
      const logout = () => {
        localStorage.removeItem('user');
      }
    </script>
  </script>
  </body>
</html>
