<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../css/file.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="http://localhost:3000/landlord"
            >3S Home</a
          >
        </div>
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="http://localhost:3000/landlord">Home</a>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"
              >HoChiMinh <span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="#">District 1</a></li>
              <li><a href="#">District 2</a></li>
              <li><a href="#">District 3</a></li>
              <li><a href="#">District 4</a></li>
              <li><a href="#">District 5</a></li>
              <li><a href="#">District 6</a></li>
              <li><a href="#">District 7</a></li>
              <li><a href="#">District 8</a></li>
              <li><a href="#">District 9</a></li>
              <li><a href="#">District 10</a></li>
              <li><a href="#">District 11</a></li>
              <li><a href="#">District 12</a></li>
              <li><a href="#">BinhTan District</a></li>
              <li><a href="#">BinhThanh District</a></li>
              <li><a href="#">GoVap District</a></li>
              <li><a href="#">PhuNhuan District</a></li>
              <li><a href="#">TanBinh District</a></li>
              <li><a href="#">TanPhu District</a></li>
              <li><a href="#">ThuDuc District</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"
              >HaNoi <span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="#">Ba Dinh</a></li>
              <li><a href="#">Bac Tu Liem</a></li>
              <li><a href="#">Cau Giay</a></li>
              <li><a href="#">Ha Dong</a></li>
              <li><a href="#">Hai Ba Trung</a></li>
              <li><a href="#">Hoan Kiem</a></li>
              <li><a href="#">Hoang Mai</a></li>
              <li><a href="#">Long Bien</a></li>
              <li><a href="#">Nam Tu Lien</a></li>
              <li><a href="#">Tay Ho </a></li>
              <li><a href="#">Thanh Xuan</a></li>
              <li><a href="#">Dong Da</a></li>
              <li><a href="#">Chuong My</a></li>
              <li><a href="#">Gia Lam</a></li>
              <li><a href="#">Hoai Duc</a></li>
              <li><a href="#">Me Linh</a></li>
              <li><a href="#">Soc Son</a></li>
              <li><a href="#">Thanh Tri</a></li>
              <li><a href="#">Thuong Tin</a></li>
              <li><a href="#">Dan Phuong</a></li>
              <li><a href="#">Dong Anh</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"
              >DaNang <span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="#">Lien Chieu</a></li>
              <li><a href="#">Thanh Khe</a></li>
              <li><a href="#">Hai Chau</a></li>
              <li><a href="#">Son Tra</a></li>
              <li><a href="#">Ngu Hanh Son</a></li>
              <li><a href="#">Cam Le</a></li>
              <li><a href="#">Hoa Vang</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="http://localhost:3000/post"
              ><span class="glyphicon glyphicon-open"></span> post</a
            >
          </li>
          <li>
            <a onclick="logout()" href="http://localhost:3000/logout"
              ><span class="glyphicon glyphicon-log-out"></span> logout</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row" style="display: flex">
        <div>
          <img
            src="../image/hcm.png"
            alt="HoChiMinh"
            style="width: 400px; height: 200px; margin-right: 15px"
          />
        </div>
        <div>
          <img
            src="../image/danang.png"
            alt="HoChiMinh"
            style="
              width: 400px;
              height: 200px;
              margin-left: 15px;
              margin-right: 15px;
            "
          />
        </div>
        <div>
          <img
            src="../image/hanoi.png"
            alt="HoChiMinh"
            style="
              width: 400px;
              height: 200px;
              margin-left: 15px;
              margin-right: 15px;
            "
          />
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </script>
  </body>
</html>
