<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../css/file.css" />
    <link rel="stylesheet" href="../css/home.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="http://localhost:3000/landlord"
            >3S Home</a
          >
        </div>
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="http://localhost:3000/landlord">Home</a>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"
              >HoChiMinh <span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="#">District 1</a></li>
              <li><a href="#">District 2</a></li>
              <li><a href="#">District 3</a></li>
              <li><a href="#">District 4</a></li>
              <li><a href="#">District 5</a></li>
              <li><a href="#">District 6</a></li>
              <li><a href="#">District 7</a></li>
              <li><a href="#">District 8</a></li>
              <li><a href="#">District 9</a></li>
              <li><a href="#">District 10</a></li>
              <li><a href="#">District 11</a></li>
              <li><a href="#">District 12</a></li>
              <li><a href="#">BinhTan District</a></li>
              <li><a href="#">BinhThanh District</a></li>
              <li><a href="#">GoVap District</a></li>
              <li><a href="#">PhuNhuan District</a></li>
              <li><a href="#">TanBinh District</a></li>
              <li><a href="#">TanPhu District</a></li>
              <li><a href="#">ThuDuc District</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"
              >HaNoi <span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="#">Ba Dinh</a></li>
              <li><a href="#">Bac Tu Liem</a></li>
              <li><a href="#">Cau Giay</a></li>
              <li><a href="#">Ha Dong</a></li>
              <li><a href="#">Hai Ba Trung</a></li>
              <li><a href="#">Hoan Kiem</a></li>
              <li><a href="#">Hoang Mai</a></li>
              <li><a href="#">Long Bien</a></li>
              <li><a href="#">Nam Tu Lien</a></li>
              <li><a href="#">Tay Ho </a></li>
              <li><a href="#">Thanh Xuan</a></li>
              <li><a href="#">Dong Da</a></li>
              <li><a href="#">Chuong My</a></li>
              <li><a href="#">Gia Lam</a></li>
              <li><a href="#">Hoai Duc</a></li>
              <li><a href="#">Me Linh</a></li>
              <li><a href="#">Soc Son</a></li>
              <li><a href="#">Thanh Tri</a></li>
              <li><a href="#">Thuong Tin</a></li>
              <li><a href="#">Dan Phuong</a></li>
              <li><a href="#">Dong Anh</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"
              >DaNang <span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="#">Lien Chieu</a></li>
              <li><a href="#">Thanh Khe</a></li>
              <li><a href="#">Hai Chau</a></li>
              <li><a href="#">Son Tra</a></li>
              <li><a href="#">Ngu Hanh Son</a></li>
              <li><a href="#">Cam Le</a></li>
              <li><a href="#">Hoa Vang</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="http://localhost:3000/post"
              ><span class="glyphicon glyphicon-open"></span> post</a
            >
          </li>
          <li>
            <a onclick="logout()" href="http://localhost:3000/logout"
              ><span class="glyphicon glyphicon-log-out"></span> logout</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <div class="search">
      <div class="box">
        <h4>Quick Search</h4>
        <div class="bs-content">
          <div class="searchbar">
            <div class="select">
              <select>
                <option value="">--Information of room--</option>
                <option value="1">Cho thuê phòng trọ</option>
                <option value="11">Cho thuê căn hộ</option>
                <option value="2">Cho thuê nhà nguyên căn</option>
                <option value="3">Tìm người ở ghép</option>
              </select>
            </div>
            <div class="select">
              <select>
                <option value="">--City--</option>
                <option value="Hồ Chí Minh">Hồ Chí Minh</option>
                <option value="Hà Nội">Hà Nội</option>
                <option value="Đà Nẵng">Đà Nẵng</option>
              </select>
            </div>
            <div class="select">
              <select>
                <option value="">--District--</option>
                <option value="72">Bình Chánh</option>
                <option value="65">Bình Tân</option>
                <option value="66">Bình Thạnh</option>
                <option value="73">Cần Giờ</option>
                <option value="74">Củ Chi</option>
                <option value="67">Gò Vấp</option>
                <option value="75">Hóc Môn</option>
                <option value="76">Nhà Bè</option>
                <option value="68">Phú Nhuận</option>
                <option value="53">Quận 1</option>
                <option value="62">Quận 10</option>
                <option value="63">Quận 11</option>
                <option value="64">Quận 12</option>
                <option value="54">Quận 2</option>
                <option value="55">Quận 3</option>
                <option value="56">Quận 4</option>
                <option value="57">Quận 5</option>
                <option value="58">Quận 6</option>
                <option value="59">Quận 7</option>
                <option value="60">Quận 8</option>
                <option value="61">Quận 9</option>
                <option value="69">Tân Bình</option>
                <option value="70">Tân Phú</option>
                <option value="71">Thủ Đức</option>
              </select>
            </div>
            <div class="select">
              <select>
                <option value="0">--Price--</option>
                <option value="1">Thỏa thuận</option>
                <option value="2">Dưới 1 triệu</option>
                <option value="3">1 triệu - 2 triệu</option>
                <option value="4">2 triệu - 3 triệu</option>
              </select>
            </div>
            <div class="select">
              <select>
                <option value="0">Area</option>
                <option value="1">Chưa xác định</option>
                <!-- <option value="2"><15m2</option> -->
                <option value="3">20 m2</option>
                <option value="4">20 - 30 m2</option>
                <option value="5">Trên 50 m2</option>
              </select>
            </div>

            <div class="submit">
              <input type="submit" value="Search" style="width: 100%" />
            </div>
          </div>
        </div>
      </div>

      <div class="post" id="post_parent"></div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="../js/a.js"></script>
    <script>
      const logout = () => {
        localStorage.removeItem('user');
      }
    </script>
  </script>
  </body>
</html>
