<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../css/home.css" />
    <link rel="stylesheet" href="../css/post.css" />
  </head>

  <body>
    <div class="test">
      <div class="center">
        <h1>Postting</h1>
        <form
          action="/post"
          id="formPost"
          method="post"
          enctype="multipart/form-data"
        >
          <h2>Thông tin cơ bản</h2>
          <div class="form-group title field">
            <label for="usr">Title</label>
            <input
              class="input"
              type="text"
              name="title"
              class="form-control"
              id="usr"
              required
            />
          </div>

          <div class="basic">
            <div class="left">
              <div class="cate">
                <span>Category</span>
                <select name="category">
                  <option value="Room for rent">Cho thuê phòng trọ</option>
                  <option value="shared room">Tìm ở ghép</option>
                </select>
              </div>
              <br />

              <div class="city">
                <span>City</span>
                <select name="city" id="city">
                  <option value="">--City--</option>
                  <option value="1">Hồ Chí Minh</option>
                  <option value="2">Hà Nội</option>
                  <option value="3">Đà Nẵng</option>
                </select>
              </div>
              <br />

              <div class="district">
                <span>District</span>
                <select name="district" id="district">
                  <option value="">--District--</option>
                </select>
              </div>

              <div class="PriceUnit">
                <span>Price Unit</span>
                <select class="priceunit" name="priceUnit">
                  <option value="Million/month">Triệu/tháng</option>
                  <option value="Million/year">Triệu/năm</option>
                </select>
              </div>
            </div>

            <div class="right height">
              <div class="square">
                <span>Area</span>
                <input type="text" name="area" required />
                <!-- <span class="m2">m<sup>2</sup></span> -->
              </div>

              <div class="address">
                <span>Address</span>
                <input type="text" name="address" required />
              </div>

              <div class="street">
                <span>Street</span>
                <select name="street" id="street">
                  <option value="">--Street--</option>
                </select>
              </div>

              <br />
              <div class="price">
                <span>Price</span>
                <input
                  type="text"
                  name="price"
                  placeholder="Ex: If 2.5 milions VNĐ then type 2.5"
                  required
                />
              </div>
            </div>
          </div>

          <div class="advance">
            <h2>Thông tin mô tả</h2>
            <div class="group">
              <!-- <label for="pwd">Nội Dung Mô Tả</label> -->
              <textarea
                placeholder="Nội Dung Mô Tả"
                class="form-control textarea"
                name="description"
                rows="5"
                id="comment"
              ></textarea>
            </div>

            <input class="img-file" type="file" name="image" required />
          </div>

          <div class="contact">
            <h2>Thông tin liên hệ</h2>
            <div>
              <label class="contact_label" for="contact_name"
                >Tên liên hệ</label
              >
              <input
                id="contact_name"
                type="text"
                name="name"
                placeholder="VD: Nguyễn Văn A"
                required
              />
            </div>
            <div>
              <label class="contact_label" for="contact_phone"
                >Điện thoại</label
              >
              <input
                id="contact_phone"
                type="text"
                name="phonenumber"
                placeholder="+84"
                required
              />
            </div>
            <div>
              <label class="contact_label" for="contact_email">Email</label>
              <input
                id="contact_email"
                type="text"
                name="email"
                placeholder="abc@example.com"
                required
              />
            </div>
          </div>

          <!-- <br> -->

          <input class="submit" type="submit" value="Post" />

          <!-- <div>
          <button class="register">
            <a href="../html/login.html">Post</a>
          </button>
        </div> -->
        </form>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="../js/post.js"></script>
  </body>
</html>
